

<div class="row">
  <div class="col-md-12">

    <form [formGroup]="login" (ngSubmit)="ingresar()">
      <h1>Ingreso al sistema</h1>
      <div class="form-group">
        <label>Ingrese usuario</label>
        <input type="text" class="form-control" formControlName="nombreUsuario"/>
        <div style="color:red" *ngIf="login.controls['nombreUsuario'].errors?.required">
          El campo es requerido
        </div>
      </div>

      <div class="form-group">
        <label>Ingrese contraseña</label>
        <input type="password" class="form-control" formControlName="contra" />
        <div style="color:red" *ngIf="login.controls['contra'].errors?.required">
          El campo es requerido
        </div>
      </div>

      <div class="form-group">
        <input type="submit" [disabled]="!login.valid" value="Ingresar" class="btn btn-primary" />
        <input type="button" value="Cerrar" class="btn btn-danger" />
      </div>
    </form>
    <div style="color:red" *ngIf="error == true">

    </div>
  </div>
</div>
